Flask==2.2.3
Werkzeug==2.3.8
python-dotenv==1.0.0
aiohttp==3.9.1
beautifulsoup4==4.12.2
gunicorn==21.2.0
requests
gevent==23.9.1
Flask-SQLAlchemy==3.0.3
Flask-Login==0.6.2
Flask-WTF==1.1.1
email-validator==2.0.0
bcrypt==4.0.1
psycopg2-binary # <-- THIS IS THE CRUCIAL LINE